source .venv/bin/activate

################################################################################
# Language Model variables
################################################################################

export LLM_API_KEY="your_api_key"
export LLM_BASE_URL="http://localhost:1234/v1"

################################################################################
# Embedding Model variables
################################################################################

export EMB_API_KEY="your_api_key"
export EMB_BASE_URL="http://localhost:1235/v1"

################################################################################
# Vector database
################################################################################

export CHROMADB_URL="http://localhost:1236"
